/*-- scss:defaults --*/
$code-color: #c2d94c;
$navbar-bg: #f9f6f6;
$navbar-dark-color: #031633;
$navbar-dark-disabled-color: #031633;
/*--$navbar-dark-hover-color: #031633;
$navbar-dark-active-color: #031633;
